@font-face {
  font-family: "ShanHaiFont";
  src: url("/fonts/ShanHaiXingHuaNiangShouShuW-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerifTC";
  src: url("/fonts/NotoSerifTC-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


body {
  font-family: "noto-sans-tc", sans-serif;
  background-color: #efefef;
}

* {
  box-sizing: border-box !important;
}
